* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6rem;
}

#searchBar {
  width: 25%;
  height: 40px;
  align-self: center;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #000;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
